root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_size = 4
charset = utf-8-bom

# Use 'var' only when the type is apparent
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

# Namespace declarations
csharp_style_namespace_declarations = file_scoped:suggestion

# Braces
csharp_prefer_braces = true:suggestion

[*.{xml,csproj,props,targets}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2
